.order-position-tile {
  display: flex;
  align-items: flex-end;

  & > .description {
    display: flex;
    flex-direction: column;

    & > .static-description {
      display: flex;
      justify-content: space-between;
    }
  }

  & > .icons {

  }
}
