.order-position-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: @tile-padding-y @tile-padding-x;

  & > .description {
    display: flex;
    flex-direction: column;

    & > .static-description {
      display: flex;
      justify-content: space-between;
    }
  }

  & > .icons {

  }
}
