.article-accordion-group {

  &.scrollable {
    padding-right: 0;
  }

  & > .tile-grid {

    &.scrollable {
      padding-left: 1px;
      padding-top: 10px; // paddings for cart count indicator
      padding-right: 21px;
    }

    & > .placeholder-tile {
      background-color: transparent;
    }
  }
}
