.article-tile {
  border-radius: @border-radius-large;
  border-style: solid;
  border-color: @border-color;
  padding: @tile-padding-y @tile-padding-x;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .article-title {
    width: 100%;
    text-align: center;
    font-size: @sub-title-font-size;
  }

  & > .article-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  & > .article-cart-count-indicator {
    &.hidden {
      display: none;
    }

    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    z-index: 1;
    border-radius: 10px;
    background-color: @accent-color-3;
    color: @text-inverted-color;
    text-align: center;
    line-height: 1.5;
  }
}
